---
import Layout from "../../layouts/Layout.astro";
import Notes from "../../content/weekly-call/notes.mdx";

const title = "Weekly Call Notes";
const description = "Keep track of the latest discussions and updates from our weekly community calls.";
const callLink = "https://meet.google.com/qdf-pfkb-ckm";
---

<Layout {title} {description}>
    <div class="hero is-medium">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-12">
                    <h1 class="title is-size-1">Weekly Call Notes</h1>
                    <p class="subtitle is-size-5">
                        Here you'll find the latest updates, feature discussions, and meeting notes from our weekly community calls.
                    </p>
                </div>
            </div>
            <div class="section">
                <div class="container content">
                    <div class="box">
                        <h2 class="title is-size-3">Community Call Details</h2>
                        <p>
                            <strong>Schedule:</strong> Every Thursday at 19:00 IST
                        </p>
                        <p>
                            <a href={callLink} target="_blank" class="button is-primary is-light">
                                <span class="icon pt-1 pb-1 mr-3">
                                    <i class="fas fa-video"></i>
                                </span>
                                <span>Click Here to Join</span>
                            </a>
                        </p>
                    </div>
                    <div class="box">
                        <h2 class="title is-size-3">Meeting Notes</h2>
                        <Notes />
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
