---
// src/pages/docs.astro
---
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/get-started/installation" />
    <link rel="canonical" href="/get-started/installation" />
</head>
<body>
<p>
    If you are not redirected automatically, follow this <a href="/get-started/installation">link for docs</a>.
</p>
</body>
</html>
