---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { MoveUpRight } from "lucide-astro";

import { getCollection } from "astro:content";

const blogs = await getCollection("blog", ({ id }) => id !== null);
const recentBlogs = blogs
  .sort((a, b) => b.data.published_at - a.data.published_at)
  .slice(0, 3);

const title =
  "DiceDB - an open-source, fast, reactive, in-memory database optimized for modern hardware.";
const description =
  "DiceDB is an open-source, fast, reactive, in-memory database optimized for modern hardware. Commonly used as a cache, it offers a familiar interface while enabling real-time data updates through query subscriptions. It delivers higher throughput and lower median latencies, making it ideal for modern workloads.";
---

<Layout {title} {description}>
  <Hero />
  <div class="columns">
    <div class="column is-7">
      <div class="content">
        <h3 class="title is-size-3">What is DiceDB?</h3>
        <p>
          DiceDB is an open-source, fast, reactive, in-memory database optimized
          for modern hardware.
        </p>
        <p>
          Commonly used as a cache, it offers a familiar interface while
          enabling real-time data updates through query subscriptions. It
          delivers higher throughput and lower median latencies, making it ideal
          for modern workloads.
        </p>
      </div>
    </div>
  </div>
</Layout>
