---
import SocialHandlesIcons from "./SocialHandlesIcons.astro";
import { Github } from "lucide-astro";

import { fetchRepoDetails } from "../utils/github.ts";

const { stars } = await fetchRepoDetails();
---

<div>
  <section class="container" style="padding: 5em 0.5em;">
    <div class="columns is-multiline is-mobile">
      <div class="column is-2-desktop is-4-tablet is-half-mobile">
        <div style="margin-bottom: 0.75em;" class="has-text-weight-bold">
          DiceDB
        </div>
        <p>
          <a
            class="button is-primary is-fullwidth"
            href="/get-started/installation"
          >
            Get Started →
          </a>
        </p>
        <p class="content-fit" style="margin-top: 0.5em;">
          <a
            class="button is-fullwidth"
            target="_blank"
            href="https://github.com/dicedb/dice"
            title="DiceDB source code on GitHub"
          >
            <span class="icon"><Github /></span>
            <span>{`GitHub ${stars} `}</span>
          </a>
        </p>
      </div>
      <div class="column is-1"></div>
      <div class="column is-2-desktop is-4-tablet is-half-mobile">
        <div style="margin-bottom: 0.75em;" class="has-text-weight-bold">
          Developers
        </div>
        <!-- <p>
          <a href="/blog"> Blog</a>
        </p>
        <p>
          <a href="/releases"> Releases</a>
        </p> -->
        <p>
          <a href="/get-started/installation"> Quickstart</a>
        </p>
        <p>
          <a href="/commands/get"> Commands</a>
        </p>
        <p>
          <a href="/roadmap"> Roadmap</a>
        </p>
      </div>
      <div class="column is-2-desktop is-4-tablet is-half-mobile">
        <div style="margin-bottom: 0.75em;" class="has-text-weight-bold">
          Examples
        </div>
        <p>
          <a
            href="https://github.com/DiceDB/dice/tree/master/examples/leaderboard-go"
            target="_blank"
          >
            Leaderboard</a
          >
          <a
            href="https://github.com/DiceDB/dice/tree/master/examples/chatroom-go"
            target="_blank"
          >
            CLI Chatroom</a
          >
        </p>
      </div>
      <div class="column is-3-desktop is-6-tablet is-half-mobile">
        <div style="margin-bottom: 0.75em;" class="has-text-weight-bold">
          Us and Socials
        </div>
        <!-- <p>
          <a href="/about-us"> About Us</a>
        </p> -->
        <p>
          <a href="mailto:arpit@dicedb.io"> Contact Us</a>
        </p>
        <p>
          <a target="_blank" href="https://github.com/sponsors/arpitbbhayani">
            Sponsor Us</a
          >
        </p>
        <br />
        <p>
          <SocialHandlesIcons />
        </p>
      </div>
    </div>
    <br />
    <div class="columns has-text-centered">
      <div class="column is-centered">
        <br />
        <ul class="horizontal">
          <li style="margin-left: 0.5em">© DiceDB, 2025</li>
        </ul>
      </div>
    </div>
  </section>
</div>
