---
import { Github } from "lucide-astro";
---

<div>
  <div class="columns content">
    <div class="column is-8">
      <div style="padding: 100px 0;">
        <h1 class="title is-size-1">cache;</h1>
        <p class="is-size-4">
          Make your applications run at warp speed.
        </p>
        <p class="is-size-5">
          DiceDB
          <ul class="is-size-5">
            <li>is <a href="/benchmarks">fast</a></li>
            <li>is <a href="/reactivity">reactive</a></li>
            <li>is familiar</li>
            <li>is <a target="_blank" href="https://github.com/DiceDB/dice/blob/master/LICENSE">open source</a></li>
          </ul>
        </p>
        <div class="buttons">
          <a href="/get-started/installation/" class="button is-primary">
            <strong>Get Started →</strong>
          </a>
          <a
            class="button"
            target="_blank"
            href="https://github.com/dicedb/dice"
            title="DiceDB source code on GitHub"
          >
            <span class="icon"><Github /></span>
            <span>GitHub (7k+)</span>
          </a>
        </div>
      </div>
    </div>
    <div class="column is-4">
    </div>
  </div>
</div>
