---
import { Github, Book } from "lucide-astro";
---

<div>
  <div class="columns content">
    <div class="column is-10">
      <div style="padding: 75px 0;">
        <h1 class="title is-size-1">DiceDB;</h1>
        <p class="is-size-4">More Than a Cache. Smarter Than a Database.</p>
        <p class="is-size-5">
          DiceDB
          <ul class="is-size-5">
            <li>is <a href="/benchmarks">fast</a> and optimized for modern hardware</li>
            <li>
              is <a href="/get-started/hello-world-reactive/">reactive</a> with query subscriptions
            </li>
            <li>is <a href="/commands/get/">familiar</a> and easy to use</li>
            <li>
              is <a
                target="_blank"
                href="https://github.com/DiceDB/dice/blob/master/LICENSE"
                >open source</a
              >
            </li>
          </ul>
        </p>
        <div class="buttons">
          <a href="/get-started/installation/" class="button is-primary">
            <strong>Get Started →</strong>
          </a>
          <a
            class="button"
            target="_blank"
            href="https://github.com/dicedb/dice"
            title="DiceDB source code on GitHub"
          >
            <span class="icon"><Github /></span>
            <span>GitHub (7k+)</span>
          </a>
          <a
            class="button"
            href="/commands/get/"
            title="DiceDB documentation"
          >
            <span class="icon"><Book /></span>
            <span>Docs</span>
          </a>
        </div>
      </div>
    </div>
    <div class="column is-4"></div>
  </div>
</div>
