---
import { Github, MoveRight } from "lucide-astro";
import Dice from "./Dice.astro";
import site from "../data/site.json";
---

<div>
  <div>
    <div class="columns is-vcentered is-centered">
      <div class="column content section is-8 has-text-centered">
        <h1 class="title is-size-1">a super cache;</h1>
        <p class="is-size-5">
          DiceDB is an <a href="https://github.com/DiceDB/dice/blob/master/LICENSE.md" target="_blank">open source</a>,
          redis-compliant, reactive, scalable, highly available,
          unified cache optimized for modern hardware
          <span class="has-text-danger">*</span>
        </p>
        <p class="notification has-text-weight-bold">
          docker run -p 7379:7379 dicedb/dicedb
        </p>
        <div class="buttons is-centered">
          <a href="/get-started/installation/" class="button is-primary">
            <strong>Get Started →</strong>
          </a>
          <a
            class="button"
            target="_blank"
            href="https://github.com/dicedb/dice"
            title="DiceDB source code on GitHub"
          >
            <span class="icon"><Github /></span>
            <span>GitHub (6k+)</span>
          </a>
        </div>
        <p class="is-small has-text-grey">
          <span class="has-text-danger">*</span> DiceDB is a work in progress; track
          <a href="/roadmap">roadmap</a> and follow along.
        </p>
      </div>
    </div>
  </div>
</div>
