---
---

<div style="margin-bottom: 3em;">
  <div class="columns is-multiline">
    <div class="column is-4">
      <div class="box">
        <h3 class="title is-size-5">
          Fast
        </h3>
        <p>
          higher throughput and lower median latencies, making it ideal for modern workloads.
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3 class="title is-size-5">
          Reactive
        </h3>
        <p>
          get real-time updates when data changes, no more polling.
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3 class="title is-size-5">
          For Modern Hardware
        </h3>
        <p>
          fully utilizes underlying core to get higgher throughput and better hardware utilization.
        </p>
      </div>
    </div>
  </div>
</div>