---
import { ArrowDownLeft, Cpu, Waves } from "lucide-astro";
---

<div style="margin-bottom: 5em;">
  <div class="columns is-multiline">
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><ArrowDownLeft /></span>
          <span style="margin-left: 0.5em;">Reactive</span>
        </h3>
        <p>
          instead of polling the database for changes, DiceDB can push the
          resultset if you subscribe to it.
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><Waves /></span>
          <span style="margin-left: 0.5em;">Fast</span>
        </h3>
        <p>
          higher throughput and lower median latencies, making it ideal for
          modern workloads.
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><Cpu /></span>
          <span style="margin-left: 0.5em;">For Modern Hardware</span>
        </h3>
        <p>
          fully utilizes underlying cores to get higher throughput and better
          hardware utilization.
        </p>
      </div>
    </div>
  </div>
</div>
