---
import { Twitter, Github, UsersRound } from "lucide-astro";
---

<ul class="buttons">
  <a
    class="button is-small"
    target="_blank"
    href="https://twitter.com/thedicedb"
    title="Follow DiceDB on X / Twitter"
  >
    <span class="icon"><Twitter /></span>
  </a>
  <a
    class="button is-small"
    target="_blank"
    href="https://github.com/dicedb/dice"
    title="DiceDB Source Code on GitHub"
  >
    <span class="icon"><Github /></span>
  </a>
</ul>
