---
import { Twitter, Github, UsersRound } from "lucide-astro";
---

<ul class="buttons">
  <a
    class="button is-small"
    target="_blank"
    href="https://discord.gg/6r8uXWtXh7"
    title="Join Discord server community"
  >
    <span class="icon"><UsersRound /></span>
    <span>Community</span>
  </a>
  <a
    class="button is-small"
    target="_blank"
    href="https://twitter.com/thedicedb"
    title="Follow DiceDB on X and Twitter"
  >
    <span class="icon"><Twitter /></span>
    <span>Twitter</span>
  </a>
  <a
    class="button is-small"
    target="_blank"
    href="https://github.com/dicedb/dice"
    title="DiceDB source code on GitHub"
  >
    <span class="icon"><Github /></span>
    <span>GitHub</span>
  </a>
</ul>
